<!doctype html>
<html>
   <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <style>
         body {
           background-color: rgb(0, 0, 0);
         }
         .table {
            border-collapse: collapse;
            width: 80%;
            height: 50%;
         }      
         th, td {
            padding: 8px;
            border-top: 4px solid #000!important;
            border-bottom: 4px solid #000!important;
            border-left: 4px solid #000;
            border-right: 4px solid #000;
            width:20px
         }

         tr{
            max-height: 1px;
         }

         label {
            color: white;
            font-weight: bold;
            padding: 4px;
         }

         </style>
      <meta charset="utf-8">
      <title>Scrabble</title>
   </head>

   <body> 
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Scrabble</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

   <div class="row">
      <div class="col-4">
         <body>
            <h1 style="color:white;margin-top: 0.5cm;margin-left: 1cm">Punktacja:</h1>
            <table class="table" style="margin-left: 1cm">
               <thead>
                 <tr>
                   <th style="color:white;" scope="col">Uczestnik</th>
                   <th style="color:white" scope="col">Punkty</th>
                   <th style="color:white" scope="col">Litery</th>
                   <th style="color:white" scope="col">Komputer</th>
                 </tr>
               </thead>
               <tbody>
                  {% for user in users %}
                  <tr>
                     <th style="color:white;font-size:20" scope="row">{{user[0]}}</th>
                     <td style="color:white;font-size:20">{{user[1]}}</td>
                     <td style="color:white;font-size:20">{{user[2]}}</td>
                     {% if user[3] == true %}
                        <td style="color:white;font-size:20">TAK</td>
                     {% endif %}
                     {% if user[3] == false %}
                        <td style="color:white;font-size:20">NIE</td>
                     {% endif %} 
                  </tr>
                  {% endfor %}
               </tbody>
             </table>
             <p style="color:white;font-size:20;margin-top: 1.5cm;margin-left: 1cm"><strong style="font-size: 13px;">Pozostałych liter w puli - {{letters_quantity}}<br/>  </strong></p>
            <p style="color:white;font-size:20;margin-top: 0.3cm;margin-left: 1cm"><strong style="font-size: 13px;">Teraz kolej uczestnika {{turn}}<br/>  </strong></p>
         </body>

          <form class="form-inline" action="http://localhost:5000/game/move" method="POST">
              <label style="margin-right: 0.2cm;margin-left: 1cm" >Wyraz:</label>
              <input style="margin-right: 0.5cm" type="input" class="form-control" name = "move">
           <button id = "word_btn" class="btn btn-secondary" type="submit">Ok</button>
          </form> 


          <form name = "reply" id="replyForm" action="http://localhost:5000/game/user" method = "POST">
            <button style="margin-top: 0.8cm;margin-left: 1cm" id = "add_user_btn" class="btn btn-primary" type="submit">Dodaj uczestnika do gry</button>
         </form>

         <form name = "reply" id="replyForm" action="http://localhost:5000/game/computer" method = "POST">
            <button style="margin-top: 0.8cm;margin-left: 1cm" id = "add_computer_btn" class="btn btn-primary" type="submit">Dodaj komputer do gry</button>
         </form>

       </div>
      <div class="col-5">
         <div class="table-responsive-sm">
            <table class="table table-condensed" id="t01">
               {% for x in range(15) %} 
               <th style="text-align:center;color:rgb(160, 160, 160)"><strong style="font-size: 13px;"> {{ x }} </td></strong>
               {% endfor %}
               {% for x in range(15) %}
                  <tr style="height: 4px;">
                     {% for val2 in board[x] %}
                     <td style="text-align:center;background-color:rgb(199, 211, 218); color:black"><strong style="font-size: 20px;"> {{ val2 }} </td></strong>
                     {% endfor %}
                     <th style="text-align:center;color:rgb(199, 194, 194)"><strong style="font-size: 13px;"> {{ x }} </td></strong>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>
      <div class="col-2">
         <h1 style="color:white;margin-top: 0.5cm">Ostatnie ruchy:</h1>
         <table class="table">
            <thead>
              <tr>
                <th style="color:white;" scope="col">Uczestnik</th>
                <th style="color:white" scope="col">Słowo</th>
                <th style="color:white" scope="col">Punkty</th>
              </tr>
            </thead>
            <tbody>
               {% for move in moves %}
               <tr>
                  <th style="color:white;font-size:20" scope="row">{{move[0]}}</th>
                  <td style="color:white;font-size:20">{{move[1]}}</td>
                  <td style="color:white;font-size:20">{{move[2]}}</td>
               </tr>
               {% endfor %}
            </tbody>
          </table>
         </form>
      </div>
   </div>


</html>
